.home-banner-sec {
    position: relative;
}

.hero-text {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.hero-text h1 {
    padding: 20px;
    font-size: 3.8rem;
    font-weight: 700;
    color: #212529;
}


/* Responsive Tweaks */
@media (max-width: 767.98px) {
    .hero-text {
        text-align: center;
        justify-content: center;
        padding-top: 2rem;
    }

    .hero-text h1 {
        font-size: 2rem;
    }
}

.newsletter {
    background-color: #f5f6f8;
}


.card-img-top {
    object-fit: cover;
    height: 270px;
}

.card-title {
    color: #2c3e50;
    min-height: 3rem;
}

.card-text {
    min-height: 4.5rem;
}

.badge-event {
    background-color: #3498db;
    color: white;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

/*Client Slider*/

.slider-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider-track {
    display: flex;
    width: max-content;
    gap: 70px;
    animation: scrollLeft 40s linear infinite;
}

@keyframes scrollLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.client-logo-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.client-logo-circle img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}


/*Conatct Form*/

.contact-form-section {
    border-radius: 20px;
    box-shadow: 20px 20px 25px rgb(204, 196, 196);
    max-width: 900px;
    height: 520px;
    margin: 80px auto;
    padding: 3rem;
    animation: fadeInUp 1s ease-in-out;
}

.input-box {
    border: none;
    background: #f2f2f2;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.input-box:focus {
    outline: none;
    background: #e0e0e0;
    box-shadow: 0 0 0 0.2rem rgba(67, 100, 129, 0.25);
}


.submit-btn {
    background-color: #2c2355;
    color: #fff;
    border-radius: 12px;
    padding: 20px 30px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #443b6f;
}

@keyframes fadeInUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}