<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDIDM Footer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="Footer.css" />
  </head>
  <body>
 <!--Footer-->
 <footer class="footer-wrapper overlay">
    <div class="container py-5">
      <div class="row text-white">
        <div class="col-6 col-md-3 mb-4">
          <h4 class="footer-title">CONTACT US</h4>
          <p class="address">
            211, Vision 20-20, near Ramapir Chokadi, Rajkot, Gujarat 360007.
          </p>
          <p>
            <a href="tel:+91 8347193531">+91 8347193531</a>
          </p>
          <p>
            <a href="tel:+91 9426526980">+91 9426526980</a>
          </p>
          <p>
            <a href="mailto:mdidminfoway@gmail.com">mdidminfoway@gmail.com</a>
          </p>
        </div>

        <div class="col-6 col-md-3 mb-4">
          <h4 class="footer-title">WEBSITE DEVELOPMENT</h4>
          <ul class="footer-links">
            <li><a href="#">Business Website</a></li>
            <li><a href="#">E-Commerce</a></li>
            <li><a href="#">Complete ERP</a></li>
            <li><a href="#">Informative Website</a></li>
            <li><a href="#">Custom Website</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-3 mb-4">
          <h4 class="footer-title">MOBILE APP DEVELOPMENT</h4>
          <ul class="footer-links">
            <li><a href="#">Business App</a></li>
            <li><a href="#">E-Commerce App</a></li>
            <li><a href="#">Custom App</a></li>
            <li><a href="#">Android/iOS/Flutter</a></li>
            <li><a href="#">Complete ERP</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-3 mb-4">
          <h4 class="footer-title">GRAPHICS DESIGNING</h4>
          <ul class="footer-links">
            <li><a href="#">Social Media Management</a></li>
            <li><a href="#">Logo Design</a></li>
            <li><a href="#">Stationary Design</a></li>
            <li><a href="#">Product Video</a></li>
            <li><a href="#">Brochure/Company Profile</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom text-center mt-4">
        <p class="copyright" style="color: white">
          © Copyright
          <a href="https://www.mdidminfoway.com/" class="company-link">MDIDM INFOWAY</a>
          . All Rights Reserved
        </p>
        <p class="developed-by" style="color: white">
          Developed by
          <img src="../../images/heart.png" alt="heart" class="heart-icon" />
          <a href="https://mdidminfoway.com/" class="company-link">MDIDM INFOWAY</a>
        </p>
      </div>
    </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
