<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDIDM Software</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Header.css">
</head>
<body>
   <!--Header-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html">
        <img src="/images/finalmainlogo.svg" alt="MDIDM Infoway Logo" height="50">
      </a>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link fw-bold text-dark" href="/index.html">HOME</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link fw-bold text-dark dropdown-toggle" href="#" id="aboutDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              ABOUT
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item fw-bold text-dark" href="/Pages/About/About.html">OUR COMPANY</a></li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Pages/Training/Training.html">TRAINING SESSION</a>
              </li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Pages/RecentWork/RecentWork.html">OUR RECENT
                  WORK</a></li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Pages/Contact/Contact.html">CONTACT US</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link fw-bold text-dark dropdown-toggle" href="#" id="portfolioDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              PORTFOLIO
            </a>
            <ul class="dropdown-menu" aria-labelledby="portfolioDropdown">
              <li><a class="dropdown-item fw-bold text-dark" href="/Portfolio/LogoDesign.html">LOGO DESIGN</a></li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Portfolio/SocialMediaPost.html">SOCIAL MEDIA
                  POST</a></li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Portfolio/BrochureDesign.html">BROCHURE DESIGN</a>
              </li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Portfolio/BusinessCardDesign.html">BUSINESS CARD
                  DESIGN</a></li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Portfolio/LetterHead.html">LETTER HEAD</a></li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Portfolio/DigitalCard.html">DIGITAL CARD</a></li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Portfolio/WebsiteDevelop.html">WEBSITE
                  DEVELOPMENT</a></li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Portfolio/AppDevelop.html">APPLICATION
                  DEVELOPMENT</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link fw-bold text-dark dropdown-toggle" href="#" id="aboutDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              BLOGS
            </a>
            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item fw-bold text-dark" href="/Pages/Blogs/Blog/Blog.html">BLOGS</a></li>
              <li><a class="dropdown-item fw-bold text-dark" href="/Pages/Blogs/Student Blog/StudentBlog.html">STUDENTS
                  BLOGS</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link fw-bold text-dark" href="/Pages/Training/Traning.html">TRAINING</a>
          </li>
          <li class="nav-item"><a class="nav-link fw-bold text-dark" href="/Pages/Student/Student.html">STUDENTS</a>
          </li>
          <li class="nav-item"><a class="nav-link fw-bold text-dark" href="/Pages/Events/Event.html">EVENTS</a></li>
        </ul>
      </div>
      <a href="#" class="custom-btn" style="text-decoration: none;" data-bs-toggle="modal"
        data-bs-target="#work-with-us-modal">
        WORK WITH US &nbsp;&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right arrow-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
      </a>
    </div>
  </nav>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Header.js"></script>
</body>
</html>